.scroll {
  overflow: hidden;
  position: relative;
}

.scrollContent {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  cursor: grab;
}

.buffer {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 3;
}
