.description {
    margin: 0 0 26px;
    text-align: center;
    padding: 0 20px;
    white-space: pre-wrap;
  }
  
  .actions {
    display: flex;
    padding: 20px;
  }
  
  .actions > button + button {
    margin-left: 10px;
  }
  
  .actions > button {
    flex: 1;
  }