@import "./markup";
@import "./variables";
@import "./fonts";
@import "./csClasses";
@import "./themes/dark/variables";
@import "./themes/light/variables";

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  color: var(--primary-text-color);
  //tut
  background-color: var(--primary-bg-color);
  margin: 0;
  overscroll-behavior: none;

}

body * {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  user-select: none;
}

a, a:focus, a:visited, a:active {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: none;
  background-color: transparent;
}

input {
  margin: 0;
}

.hideScroll::-webkit-scrollbar {
  display: none;
}

.hideScroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollList {
  overflow-y: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  @media screen and (min-width: 1025px) {
    padding-bottom: var(--space-2);
  }
}

.scrollList::-webkit-scrollbar {
  display: none;
}

/* TYPOGRAPHY */
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

.container {
  max-width: 1440px;
}

.container-fluid {
  padding: 0 var(--space-2);
  margin: 0 auto;
  width: 100%;
}

.container-side {
  max-width: var(--container-width);
}

.pending {
  position: relative;
}

.pending:after {
  content: '';
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 100;
}


#baseMap {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  transform: scale(1, 1);
  filter: saturate(0.5);
  user-select: none;
}

.myWardrobeText {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 600;
  user-select: none;
}

@media (max-width: 480px) {
  .myWardrobeText {
    display: none;
  }

  body {
    background-color: var(--button-background);
  }

}
